.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.loadingContent {
    text-align: center;
}

.loadingSpinner {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border-bottom: 2px solid #e94560;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}

.loadingText {
    font-size: 1.125rem;
    color: white;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 